<!DOCTYPE html>
<html ng-app="pisApp" lang="pl">

<head>
	<meta charset="utf-8">
	<title>Czy PiS naprawił już Polskę?</title>
	<meta name="description" content="Strona informująca, czy PiS naprawił już Polskę.">

	<link rel="stylesheet" type="text/css" href="styles/material.min.css"></link>
	<link rel="stylesheet" type="text/css" href="styles/styles.css"></link>
	<script src="scripts/material.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
	<script src="scripts/app.js"></script>
</head>

<body ng-controller="SearchController as search">
	<header class="mdl-layout__header is-casting-shadow">
		<div class="mdl-layout__header-row">
			<!-- Title -->
			<span class="mdl-layout-title">Tu wstawić logo i ustawić kolory</span>
			<div class="mdl-layout-spacer"></div>
		</div>
	</header>
	<main class="mdl-layout__content">
		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			<input class="mdl-textfield__input" type="text" id="sample3" ng-model="query" />
			<label class="mdl-textfield__label" for="sample3">szukaj</label>
		</div>
		<div class="card-container">
			<div class="mdl-card mdl-shadow--4dp" ng-repeat="lie in lies | filter:query | limitTo: resultLimit">
				<div class="mdl-card__supporting-text">{{lie.description}}</div>
				<div class="mdl-card__title">
					<h2 class="mdl-card__title-text">{{lie.title}}</h2>
				</div>
				<div class="mdl-card__supporting-text icon-holder"><i class="icon" ng-class="{'yep': lie.yep == true, 'nope': lie.yep != true}"></i></div>
			</div>
		</div>
	</main>
	<footer class="mdl-mini-footer">
		<div class="mdl-mini-footer__left-section">
			<div class="mdl-logo">Czy PiS naprawił już Polskę?</div>
			<small>Obietnice wyborcze zawarte na tej stronie nie są oficjalnym stanowiskiem Prawa i Sprawiedliwości. Autorzy strony nie są związani z żadną partią polityczną, ani stowarzyszeniem. Materiały zamieszczone na stronie pochodzą ze stron MamPrawoWiedziec.pl, pis.org.pl, Onet.pl oraz mediów społecznościowych. Logo Prawa i Sprawiedliwości jest własnością partii. Widzisz błąd? Napisz <a href="mailto:info@czypisnaprawiljuzpolske.pl">info@czypisnaprawiljuzpolske.pl</a></small>
		</div>
	</footer>
</body>

</html>