body {
  background: #d5f1fb;
  height: auto;
}
main {
  margin: 1em 3em;
}
footer {
  margin-bottom: 0;
  margin-top: auto;
}
footer > div,
footer {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
footer .mdl-logo {
  white-space: nowrap;
}
*,
*::ater,
*::before {
  box-sizing: border-box;
}
