main
{
	margin: 1em 3em;
}

body
{
	display: flex;
    flex-direction: column;
}

footer
{
	margin-bottom: 0;
    margin-top: auto;
	*
	{
		float:none !important;
	}
	
	
	& > div,
	&,
	{
		display:flex !important;
	}
	
	.mdl-logo
	{
		white-space: nowrap;
	}
}

.card-container
{
	display:-webkit-flex;
	display:flex;
	flex-direction:row;
	flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
	& > div
	{
		margin: 1em;
	}
}

.mdl-layout__header
{
	display:flex !important;
}