main
{
	margin: 1em 3em;
}

body
{
	display: flex;
    flex-direction: column;
	background:#d5f1fb  ;
}

footer
{
	margin-bottom: 0;
    margin-top: auto;
	*
	{
		float:none !important;
	}
	
	
	& > div,
	&,
	{
		display:flex !important;
	}
	
	.mdl-logo
	{
		white-space: nowrap;
	}
}

.card-container
{
	display:-webkit-flex;
	display:flex;
	flex-direction:row;
	flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
	
	& > div
	{
		margin: 1em;
		height:15em;
	}
	
	.mdl-card__supporting-text:first-child
{
	font-size: 1em;
	padding-top: 2em;
}

	.mdl-card__title
	{
		justify-content: center;
		color: #FF4136;
		h2
		{
			font-size: 30px;
			font-weight: bold;
		}
	}
}

.mdl-layout__header
{
	display:flex !important;
	flex-direction: row;
    justify-content: space-between;
}

.icon-holder
{
	justify-content: flex-end;
    display: flex;
	padding-top:0;
	margin-bottom: 0;
    margin-top: auto;
}

.icon
{
	&.yep
	{
		&::before
		{
			background:url(/images/yeah_transparent.png);
		}
	}
	
	&.nope
	{
		&::before
		{
			background:url(/images/nope_transparent.png);
		}
	}
	
	&::before
	{
		content:'';
		width:60px;
		height:60px;
		display:inline-block;
	}
}

header
{
	background-color: #fff !important;
	padding:0 !important;

	
	h2 
	{
		font-family: 'Roboto', sans-serif;
		color:#111 !important;
		display: flex;
		flex-direction: row;
		align-items: baseline;
		margin:0;
		white-space: nowrap;
	}
	svg
	{
		padding:0 20px
	}
	
	& > div
	{
		margin:0 8em !important;
		padding:0 !important;
	}
}

.mdl-layout__header-row
{
	height:120px;
	flex-direction:row;
}

.search-container
{
	align-self: flex-end;
	input, label
	{
		font-size:1.5em;
	}
	
	input
	{
		color:#111;
	}
}

.right-header-side
{
	display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

.page-title
{
	text-align:center;
}

.overview-card 
{
	display:flex;
	
	& > div{
	margin: 1em auto;
    min-width: 33%;
    max-width: 450px;
	}
}
.slider
{
	span
	{
		width:50%;
		display:inline-block;
		&:last-of-type
		{
			text-align:right;
		}
	}	
	& .mdl-progress
	{
		width:auto;
	}
	
}

@media all and (max-width: 1280px)
{
	header
	{
		& > div
		{
			margin:0 3em !important;
		}
	}
}


@media all and (max-width: 1200px)
{
	header
	{
		h2
		{
			font-size:30px;
		}
	}
}

@media all and (max-width: 1000px) 
{
	header
	{
		flex-direction: column;
		justify-content: center;
		align-items: center;
		
		
		.mdl-layout__header-row
		{
			flex-direction: column;
		}
	}
	
	.overview-card
	{
		flex-direction: column;
	}
}