body {
  background: #d5f1fb;
  height: auto;
}
main {
  margin: 1em 3em;
}
footer {
  margin-bottom: 0;
  margin-top: auto;
}
footer > div,
footer {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
footer .mdl-logo {
  white-space: nowrap;
}
*,
*::ater,
*::before {
  box-sizing: border-box;
}

header {
  background-color: #fff !important;
  padding: 0 !important;
}
header h2 {
  font-family: 'Roboto', sans-serif;
  color: #111 !important;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  margin: 0;
  white-space: nowrap;
}
header svg {
  padding: 0 20px;
}
header > div {
  margin: 0 8em !important;
  padding: 0 !important;
}
.mdl-layout__header-row {
  height: 120px;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.search-container {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}
.search-container input,
.search-container label {
  font-size: 1.5em;
}
.search-container input {
  color: #111;
}
.right-header-side {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.page-title {
  text-align: center;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 34px;
  line-height: 40px;
}

.icon-holder {
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0;
  margin-bottom: 0;
  margin-top: auto;
}
.icon.yep::before {
  background: url(/images/yeah_transparent.png);
}
.icon.nope::before {
  background: url(/images/nope_transparent.png);
}
.icon::before {
  content: '';
  width: 60px;
  height: 60px;
  display: inline-block;
}
.slider span {
  width: 50%;
  display: inline-block;
}
.slider span:last-of-type {
  text-align: right;
}
.slider .mdl-progress {
  width: auto;
}
@media all and (max-width: 1280px) {
  header > div {
    margin: 0 3em !important;
  }
}
@media all and (max-width: 1200px) {
  header h2 {
    font-size: 30px;
  }
}
@media all and (max-width: 1000px) {
  header {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  header .left-header-side {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .overview-card {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.overview-card {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.overview-card > div {
  margin: 1em auto;
  min-width: 33%;
  max-width: 450px;
}
.card-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.card-container md-card {
  width: 370px;
  margin: 1em;
  padding: 1em;
}
.card-container md-card-content {
  height: 10em;
}
.card-container md-card-footer i {
  overflow: hidden;
  display: inline-block;
  width: auto;
  height: auto;
}
.card-container md-card-footer i::before {
  content: '';
  width: 60px;
  height: 60px;
  display: block;
}
.card-container p {
  font-size: 1em;
  color: rgba(0, 0, 0, 0.54);
  line-height: 1.5em;
  padding: 0;
  margin: 0;
}
.card-container h2 {
  margin-bottom: 0;
  margin-top: auto;
  color: #FF4136;
  font-size: 30px;
  font-weight: bold;
}
